@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  text-decoration: none;
}

.navbar  {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.slider {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  margin-bottom: 40px;
  /* width: 600px; */
  /* display: flex; */
  /* align-items: center; */
}

.navbar h1 {
  color: #417F56;

}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #417F56;
}

.drinks > h3 {
  margin: 30px;
}

.grid-container {
  display: grid;
  max-width: 900px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px;
  border: 0.5px solid #e0dcdc;
  border-radius: 5px;
}

.grid-container div {
  text-align: center;
}

.grid-container > div img {
  max-width: 100%;
  max-height: 100%;
}

.food-info h3 {
  margin: 10px;
}

.food-info div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0;
  text-align: center;
}

.original-price {
  text-decoration: line-through;
}

.promo {
  color: red;
  margin-right: 5px;
  font-size: 14px;
}

.add-to-cart {
  background-color: #417F56;
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}